/*definimos colores temáticos */
:root {
    --dorado-golden: #F5B041;       
    --naranja-suave: #FAD7A1;       
    --naranja-oscuro: #D35400;      
    --color-texto: #4A2311;         
    --fondo-sitio: #FEF9E7;         
}

body {
    background-color: var(--fondo-sitio);
    color: var(--color-texto);
}

/* Le damos un color bonito a la barra de navegación */
.navbar {
    background-color: var(--dorado-golden) !important;
}

.bg-white {
    /* Le cambiamos el fondo blanco de Bootstrap por nuestro naranja suave */
    background-color: var(--naranja-suave) !important; 
    
    /* Llamamos a la animación que creamos abajo. Dura 1.5 segundos */
    animation: entradaBanner 1.5s ease-out;
}

/* Creamos los pasos de la animación (keyframes) */
@keyframes entradaBanner {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* Empieza un poco más arriba y transparente */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Termina en su posición normal */
    }
}

.card {
    /* Preparamos la tarjeta para que el cambio de posición sea suave */
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--naranja-suave);
}

/* Cuando el usuario pasa el mouse sobre la tarjeta del perrito */
.card:hover {
    transform: translateY(-10px); /* La tarjeta "salta" un poquito hacia arriba */
    box-shadow: 0px 10px 15px rgba(211, 84, 0, 0.3) !important; /* Sombra naranja */
}

/* Modificamos los botones primarios para que usen nuestro color */
.btn-primary {
    background-color: var(--naranja-oscuro);
    border-color: var(--naranja-oscuro);
}

.btn-primary:hover {
    background-color: var(--dorado-golden);
    border-color: var(--naranja-oscuro);
    color: black;
}

.btn-success {
    background-color: var(--dorado-golden);
    border-color: var(--dorado-golden);
    color: black;
    font-weight: bold;
}

.btn-success:hover {
    background-color: var(--naranja-oscuro);
    color: white;
}